@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #000000;
    color: white;
    justify-content: space-around;
    padding: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #000000;
    color: white;
}

.heading {
    font-weight: bold;
}

.submit {
    background-color: gainsboro;
    /* color: white; */
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid white

}

.large-text {
    font-size: 60px;
}

.search {
    outline: none;
    border: none;
}

.search-bar {
    display: flex;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: #dadbf1;
    width: 650px;
    justify-content: space-between;
    margin-top: 20px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.signin {
    background-color: #4C5FD5;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;

}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #dadbf1;
}

.card { 
    display: flex;
    gap: 15px;
    width: 40%;
}

.hero {
    padding: 180px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.more {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.flex-row {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .large-text {
        font-size: 40px;
    }
    .search-bar {
        width: 380px;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: none;
    }
    .hero {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    
  }

